extends layout

block head
  link(rel="stylesheet",href="/css/edu-theme.css")
  link(rel="stylesheet",href="/css/editor.css")

block content
  #editor
    textarea#cm-coffeescript

block footer
  script(src="/js/editor.js")